/* =======================Loader Started=========================== */

.loaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 400px);
}

/* =======================Loader Closed=========================== */

/* =======================Admin Login Started=========================== */

.btn-background-color {
  background-color: #084c61;
  color: white;
  border: 1px solid black;
}

/* =======================Admin Login Closed=========================== */
